.navbar-brand {
    font-size: 24px;
}
.planica-jumbo {
    background-image: url("http://www.arhinfo.si/img/proj/AKKA-planica-06-v.jpg");
    background-position: center center;
    background-size: cover;
}