.navbar-brand {
    font-size: 24px;
}
.planica-jumbo {
    background-image: url("imgs/planica.jpg");
    background-position: center center;
    background-size: cover;
}
.gallery-jumbo {
    background-image: url("imgs/gallery.jpg");
    background-position: center center;
    background-size: cover;
}